:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --dark-cyan2: hsl(179, 100%, 13%);
  --trans-white: hsla(0, 0%, 100%, 0.75);
  --light-grey: hsl(0, 0%, 95%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--light-grey);
  text-align: center;
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 10px auto 10px;
  border-radius: 10px;
  text-align: left;
}

.card {
  width: 327px;
  height: 442px;
  padding-left: 48px;
  margin: 0 auto;
  font-family: 'Lexend Deca';
  font-weight: 400;
}

.card1 {
  background: var(--bright-orange);
  border-radius: 10px 10px 0 0;
}

.card2 {
  background: var(--dark-cyan);
}

.card3 {
  background: var(--dark-cyan2);
  border-radius: 0 0 10px 10px;
}

.card_img {
  width: 64px;
  height: 40px;
  margin-top: 48px;
}

.text h1 {
  font-family: 'Big Shoulders Display';
  font-weight: 700;
  color: var(--light-grey);
}

.text p {
  color: var(--trans-white);
  margin: 20px 20px 60px 0;
  font-weight: 400;
  max-width: 231px;
  font-size: 15px;
  line-height: 25px;
}

.btn {
  width: 146px;
  height: 48px;
  font-size: 15px;
  font-family: 'Lexend Deca';
  border-radius: 48px;
  border: none;
  margin-top: 0;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
}
.btn1 {
  color: var(--bright-orange);
}
.btn2 {
  color: var(--dark-cyan);
}
.btn3 {
  color: var(--dark-cyan2);
}
.btn:hover {
  color: white;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (min-width: 1000px) {
  .container {
    flex-direction: row;
    margin: 100px auto 20px;
    width: 60%;
  }

  .card {
    margin: 0;
    width: 307px;
    height: 500px;
  }

  .card1 {
    border-radius: 10px 0 0 10px;
  }

  .card3 {
    border-radius: 0 10px 10px 0;
  }

  .btn {
    margin-top: 50px;
  }
}
